.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    cursor: pointer;
}

.burger-menu .line-1, .burger-menu .line-2, .burger-menu .line-3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

.account {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.account img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.dropdown {
    display: none;
}

.dropdown-caret::after {
    content: '\25BC';
    display: inline-block;
    margin-left: 5px;
}
